@import 'fonts.css';

/* Root start */

:root {
    --DMB: 'DMSans_18pt-Bold';
    --DMM: 'DMSans_18pt-Medium';
    --DMR: 'DMSans_18pt-Regular';
    --MB: 'Rosario-Bold';
    --body: #ffffff;
    --text: #323232;
    --dots: #828282;
    --dots-active: #7177F1;
    --purple: #7177F1;
    --orange: #E44F26;
    --blue: #1572B6;
    --light-red: #790FF1;
    --green: #09a66d;
}

/* Root end */

/* ****** courier start ****** */

.courier__top-title {
    max-width: 671px;
    width: 100%;
    font-family: var(--MB);
    font-size: 70px;
    line-height: 129%;
    color: var(--text);
}

.courier__top-text {
    max-width: 631px;
    width: 100%;
    font-family: var(--DMR);
    font-size: 18px;
    line-height: 167%;
    color: var(--dots);
}

/* *********** */

.courier__boxx {
    margin-top: 50px;
    position: relative;
}

.courier__boxx-left {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.courier__item-title {
    font-family: var(--DMB);
    font-size: 20px;
    line-height: 150%;
    color: var(--text);
}

.courier__item-text {
    max-width: 277px;
    width: 100%;
    font-family: var(--DMR);
    font-size: 14px;
    line-height: 143%;
    color: var(--dots);
}

.courier__boxx-icon {
    position: absolute;
    top: 400px;
    left: 200px;
    font-size: 50px;
    color: var(--green);
}

/* ************ right start */

.courier__boxx-right {
    position: relative;
    z-index: 2;
}

.courier__right-img {
    position: absolute;
    z-index: 1;
    top: -50px;
    left: 150px;
}

.courier__right-wimg {
    position: absolute;
    top: 20px;
    left: 120px;
}

.courier__right-ximg {
    position: absolute;
    z-index: 1;
    top: -70px;
    left: 250px;
}
